body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: "header header""main main";
    height: 100vh;
    color: white;
}

:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
}

header {
    grid-area: header;
    background-color: var(--purple-bg);
    height: 44rem;
    border-bottom: 6px solid var(--green);
}

main {
    grid-area: main;
    background-color: var(--light-purple);
    height: 75rem;
}

nav {
    position: absolute;
    display: flex;
    gap: 200px;
    top: 10%;
    left: 11%;
}

nav .menu {
    list-style-type: none;
    display: flex;
    gap: 25px;
    font: 13pt Roboto;
    font-weight: 400;
    cursor: pointer;
}

nav .menu li {
    color: rgb(226, 224, 224);
}

nav .menu li:hover {
    border-left: 3px solid var(--green);
}




.campo-de-busca {
    position: absolute;
    background-color: var(--dark-bg);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    height: 40px;
    font-size: 15px;
    font-weight: 400;
    padding-left: 20px;
    outline: none;
}

.botao-de-busca {
    position: absolute;
    background: var(--button-bg);
    border-radius: 0px 5px 5px 0px;
    border: none;
    left: 118.4%;
    top: -2%;
    height: 44px;
    width: 60px;
    cursor: pointer;
    text-decoration: none;
}

.botao-de-busca:hover {
    filter: brightness(120%);
}

.texto1 {
    position: absolute;
    display: block;
    width: 35rem;
    top: 30%;
    left: 10%;
}

.texto1 h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 36px;
    color: var(--button-bg);
    line-height: 54px;
}

.texto1 article p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.texto1 article span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--button-bg);
    cursor: pointer;
}

.texto1 article span:hover {
    transition: all .4s;
    color: plum;
    transform: scale(1.4);
}

.texto1 article span::after {
    position: absolute;
    content: url(./images/arrow-right.svg);
    left: 15%;
    top: 92.7%;
}

.feature {
    position: absolute;
    left: 735px;
    top: 30px;
}

/*post1*/
.post1 {
    color: black;
}

.post1 .artigo1-do-post1 {
    position: absolute;
    display: inline-block;
    width: 30rem;
    margin: 40px 90px;
    line-height: 30px;
}

.post1 p,
span {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.post1 h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--purple-bg);
}

.artigo2-do-post1 {
    position: absolute;
    display: inline-block;
    width: 25rem;
    left: 60%;
    margin-top: 40px;
    border-bottom: 1px solid rgb(205, 205, 205);
}

.artigo3-do-post1 {
    position: absolute;
    display: inline-block;
    width: 28rem;
    margin: 19% 60%;
    line-height: -8px;

}

/*POST2*/
.post2 {
    display: flex;
    position: absolute;
    width: 88rem;
    height: 29rem;
    top: 172%;
    left: 5%;
    color: black;
    padding: 20px;
    gap: 90px;
}

.post2 h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color: var(--purple-bg);
}

.post2 p {
    font-family: 'Roboto';
    font-weight: 400;
}

.artigo1-do-post2 {
    display: inline-block;
    width: 379px;
    height: 29rem;
    line-height: 18px;
}

.artigo2-do-post2 {
    display: inline-block;
    width: 379px;
    height: 29rem;
    line-height: 18px;
}

.artigo3-do-post2 {
    display: inline-block;
    width: 379px;
    height: 29rem;
    line-height: 15px;
}
