@media(max-width:1200px) {
    .formulario {
        display: none;
    }
    .menu {
        display:none  !important;
    }
    header {
        width: 37rem;
        display: flex;
        text-align: center;
        height: 60rem;
    }
    .texto1 {
        width: 30rem;
    }
    .texto1 h1 {
        text-align: center;
        margin-bottom: 230px;
        font-size: 35px;
        margin-left: 80px;
    }
    .feature {
        left: 80px;
        top: 200px;
        width: 400px;
    }
    .texto1 p {
        position: absolute;
        top: 100%;
        margin-left: 80px;
    }
    main {
        display: block;
        height: 180rem;
        width: 37rem;
    }

    .post1 {
        color: black;
        display: block;
    }
    .post1 img {
        width: 400px;
    }
    .artigo1-do-post1 {
        display: block;
        width: 25rem !important;
    }
    .artigo2-do-post1 {
        top: 330%;
        left: 40%;
    }
    .artigo3-do-post1 {
        top: 400%;
        left: -19%;
    }

    .span1 {
        position: absolute;
        top: 150%;
    }

    .texto1 article span::after {
        position: absolute;
        content: url(./images/arrow-right.svg);
        left: 110%;
        top: 9%;
    }

    .post2 {
        top: 460%;
        display: block;
        gap: 150px !important;
        width: 34rem;
    }
    
    .artigo1-do-post2 {
        display: block;
        width: 379px;
        height: 29rem;
        line-height: 18px;
        margin-bottom: 30px;
    }

    .artigo2-do-post2 {
        display: block;
        width: 379px;
        height: 29rem;
        line-height: 18px;
        margin-bottom: 30px;
    }
}